@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

header h1{
    font-family: sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: lighter;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    margin-bottom: 20px;
}

nav{
    display: none;
}

article h2, p{
    font-family: cursive;
    margin-bottom: 20px;
}