@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(165, 42, 42, 0.772);
    position: relative;
}

header{
    background-color: rgba(113, 29, 29, 0.482);
    margin-bottom: 20px;
    
    & h1{
        text-align: center;
        
    }

    & nav{
        width: 100vw;
        background-color: rgb(128, 33, 33);
    }

    & a{
       padding: 10px;
    }

    & li{
        display: inline-block;
        border: 1px solid black;
        width: 80px;
        text-align: center;
    }

    & a{
        background-color: white;
        display: block;
        border-radius: 10px 10px 0 0;
        text-decoration: none;
    }


}

main{
    width: 600px;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;

    & article{
        text-indent: 30px;
        text-align: justify;
    }
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: brown;
    width: 100%;
    padding: 10px;
}