@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(../imagens/back-phone.jpg);
    background-repeat: no-repeat;
    background-position: center;

    & h1{
        text-align: center;
        color: white;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

main#pai-img{
    background-color: rgba(255, 255, 255, 0.354);
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px black;

    & #celular{
        display: block;
        margin: auto;
    }

    & #impressao{
        display: none;
    }

    & #pc{
        display: none;
    }

    & #tablet{
        display: none;
    }

    & #tv{
        display: none;
    }
}

