@charset "UTF-8";

body{
    background-color: black;
    background-image: url(../imagens/back-tablet.jpg);
    background-size: cover;
    background-position:center ;
}

main#pai-img{

    & #celular{
        display: none;
        margin: auto;
    }

    & #impressao{
        display: none;
        margin: auto;
    }

    & #pc{
        display: none;
        margin: auto;
    }

    & #tablet{
        display: block;
        margin: auto;
    }

    & #tv{
        display: none;
        margin: auto;
    }
}